**Группировка данных**

С помощью оператора GROUP BY посчитайте количество курьеров мужского и женского пола в таблице couriers.
Новую колонку с числом курьеров назовите couriers_count.
Результат отсортируйте по этой колонке по возрастанию.

In [ ]:
SELECT 
	sex,
    COUNT(courier_id) AS couriers_count
FROM   
	couriers
GROUP BY 
	sex
ORDER BY 
	couriers_count

Посчитайте количество созданных и отменённых заказов в таблице user_actions.
Новую колонку с числом заказов назовите orders_count.
Результат отсортируйте по числу заказов по возрастанию.

In [ ]:
SELECT 
	COUNT(order_id) AS orders_count,
    action
FROM   
	user_actions
GROUP BY 
	action
ORDER BY 
	orders_count

Используя группировку и функцию DATE_TRUNC, приведите все даты к началу месяца и посчитайте, сколько заказов было сделано в каждом из них.
Расчёты проведите по таблице orders. Колонку с усечённой датой назовите month, колонку с количеством заказов — orders_count.
Результат отсортируйте по месяцам — по возрастанию.

In [ ]:
SELECT 
	DATE_TRUNC('month', creation_time) AS month,
    COUNT(order_id) AS orders_count
FROM  
	orders
GROUP BY 
	month
ORDER BY 
	month

Используя группировку и функцию DATE_TRUNC, приведите все даты к началу месяца и посчитайте, сколько заказов было сделано и сколько было отменено в каждом из них.
В этот раз расчёты проведите по таблице user_actions. Колонку с усечённой датой назовите month, колонку с количеством заказов — orders_count.
Результат отсортируйте сначала по месяцам — по возрастанию, затем по типу действия — тоже по возрастанию.

In [ ]:
SELECT 
	DATE_TRUNC('month', time) AS month,
    COUNT(order_id) AS orders_count,
    action
FROM   
	user_actions
GROUP BY 
	month,
	action
ORDER BY 
	month,
	action

По данным в таблице users посчитайте максимальный порядковый номер месяца среди всех порядковых номеров месяцев рождения пользователей сервиса. С помощью группировки проведите расчёты отдельно в двух группах — для пользователей мужского и женского пола.
Новую колонку с максимальным порядковым номером месяца рождения в группах назовите max_month. Преобразуйте значения в новой колонке в формат INTEGER, чтобы порядковый номер был выражен целым числом.
Результат отсортируйте по колонке с полом пользователей.

In [ ]:
SELECT 
	sex,
	MAX(DATE_PART('month', birth_date))::INTEGER AS max_month
FROM   
	users
GROUP BY 
	sex
ORDER BY 
	sex

По данным в таблице users посчитайте порядковый номер месяца рождения самого молодого пользователя сервиса. С помощью группировки проведите расчёты отдельно в двух группах — для пользователей мужского и женского пола.
Новую колонку c порядковым номером месяца рождения самого молодого пользователя в группах назовите max_month. Преобразуйте значения в новой колонке в формат INTEGER, чтобы порядковый номер был выражен целым числом.
Результат отсортируйте по колонке с полом пользователей.

In [ ]:
SELECT 
	sex,
    DATE_PART('month', MAX(birth_date))::INTEGER AS max_month
FROM   
	users
WHERE  
	birth_date IS NOT NULL
GROUP BY 
	sex
ORDER BY 
	sex

Посчитайте максимальный возраст пользователей мужского и женского пола в таблице users. Возраст измерьте числом полных лет.
Новую колонку с возрастом назовите max_age. Преобразуйте значения в новой колонке в формат INTEGER, чтобы возраст был выражен целым числом.
Результат отсортируйте по новой колонке по возрастанию возраста.

In [ ]:
SELECT 
	sex,
    MAX(DATE_PART('year', AGE(birth_date)))::INTEGER AS max_age
FROM  
	users
GROUP BY 
	sex
ORDER BY 
	max_age

Разбейте пользователей из таблицы users на группы по возрасту (возраст по-прежнему измеряем числом полных лет) и посчитайте количество пользователей каждого возраста.
Колонку с возрастом назовите age, а колонку с числом пользователей — users_count. Преобразуйте значения в колонке с возрастом в формат INTEGER, чтобы возраст был выражен целым числом.
Результат отсортируйте по колонке с возрастом по возрастанию.

In [ ]:
SELECT 
	DATE_PART('year', AGE(birth_date))::INTEGER AS age,
    COUNT(user_id) AS users_count
FROM   
	users
GROUP BY 
	age
ORDER BY 
	age

Вновь разбейте пользователей из таблицы users на группы по возрасту (возраст по-прежнему измеряем количеством полных лет), только теперь добавьте в группировку ещё и пол пользователя. Затем посчитайте количество пользователей в каждой половозрастной группе.
Все NULL значения в колонке birth_date заранее отфильтруйте с помощью WHERE.
Колонку с возрастом назовите age, а колонку с числом пользователей — users_count, имя колонки с полом оставьте без изменений. Преобразуйте значения в колонке с возрастом в формат INTEGER, чтобы возраст был выражен целым числом.
Отсортируйте полученную таблицу сначала по колонке с возрастом по возрастанию, затем по колонке с полом — тоже по возрастанию.

In [ ]:
SELECT 
	DATE_PART('year', AGE(birth_date))::INTEGER AS age,
    sex,
    COUNT(user_id) AS users_count
FROM   
	users
WHERE  
	birth_date IS NOT NULL
GROUP BY 
	age,
	sex
ORDER BY 
	age,
	sex

Посчитайте количество товаров в каждом заказе, примените к этим значениям группировку и рассчитайте количество заказов в каждой группе за неделю с 29 августа по 4 сентября 2022 года включительно. Для расчётов используйте данные из таблицы orders.
Выведите две колонки: размер заказа и число заказов такого размера за указанный период. Колонки назовите соответственно order_size и orders_count.
Результат отсортируйте по возрастанию размера заказа.

In [ ]:
SELECT 
	ARRAY_LENGTH(product_ids, 1) AS order_size,
    COUNT(order_id) AS orders_count
FROM   
	orders
WHERE  
	creation_time > '2022-08-29'
    AND creation_time < '2022-09-04 23:59:59'
GROUP BY
	order_size
ORDER BY
	order_size

Посчитайте количество товаров в каждом заказе, примените к этим значениям группировку и рассчитайте количество заказов в каждой группе. Учитывайте только заказы, оформленные по будням. В результат включите только те размеры заказов, общее число которых превышает 2000. Для расчётов используйте данные из таблицы orders.
Выведите две колонки: размер заказа и число заказов такого размера. Колонки назовите соответственно order_size и orders_count.
Результат отсортируйте по возрастанию размера заказа.

In [ ]:
SELECT 
	ARRAY_LENGTH(product_ids, 1) AS order_size,
	COUNT(order_id) AS orders_count
FROM   
	orders
WHERE  
	DATE_PART('dow', creation_time) IN (1, 2, 3, 4, 5)
GROUP BY 
	order_size 
HAVING 
	COUNT(order_id) > 2000
ORDER BY 
	order_size

По данным из таблицы user_actions определите пять пользователей, сделавших в августе 2022 года наибольшее количество заказов.
Выведите две колонки — id пользователей и число оформленных ими заказов. Колонку с числом оформленных заказов назовите created_orders.
Результат отсортируйте сначала по убыванию числа заказов, сделанных пятью пользователями, затем по возрастанию id этих пользователей.

In [ ]:
SELECT 
	user_id,
    COUNT(order_id) AS created_orders
FROM  
	user_actions
WHERE  
	action = 'create_order'
	AND DATE_PART('year', time) = 2022
	AND DATE_PART('month', time) = 8
GROUP BY 
	user_id
ORDER BY 
	created_orders DESC,
	user_id
LIMIT
	5

А теперь по данным таблицы courier_actions определите курьеров, которые в сентябре 2022 года доставили только по одному заказу.
В этот раз выведите всего одну колонку с id курьеров. Колонку с числом заказов в результат включать не нужно.
Результат отсортируйте по возрастанию id курьера.

In [ ]:
SELECT 
	courier_id
FROM 
	courier_actions
WHERE
	action = 'deliver_order'
	AND DATE_PART('year', time) = 2022
	AND DATE_PART('month', time) = 9
GROUP BY 
	courier_id 
HAVING
	COUNT(DISTINCT(order_id)) = 1
ORDER BY
	courier_id

Из таблицы user_actions отберите пользователей, у которых последний заказ был создан до 8 сентября 2022 года.
Выведите только их id, дату создания заказа выводить не нужно.
Результат отсортируйте по возрастанию id пользователя.

In [ ]:
SELECT 
	user_id
FROM   
	user_actions
WHERE  
	action = 'create_order'
GROUP BY 
	user_id 
HAVING 
	MAX(time) < '2022-09-08'
ORDER BY 
	user_id

Разбейте заказы из таблицы orders на 3 группы в зависимости от количества товаров, попавших в заказ:
Малый (от 1 до 3 товаров);
Средний (от 4 до 6 товаров);
Большой (7 и более товаров).
Посчитайте число заказов, попавших в каждую группу. Группы назовите соответственно «Малый», «Средний», «Большой» (без кавычек).
Выведите наименования групп и число товаров в них. Колонку с наименованием групп назовите order_size, а колонку с числом заказов — orders_count.
Отсортируйте полученную таблицу по колонке с числом заказов по возрастанию.

In [ ]:
SELECT 
	CASE 
		WHEN ARRAY_LENGTH(product_ids, 1) >= 7 THEN 'Большой'
        WHEN ARRAY_LENGTH(product_ids, 1) >= 4 THEN 'Средний'
        ELSE 'Малый'
	END AS order_size,
    COUNT(order_id) AS orders_count
FROM   
	orders
GROUP BY 
	order_size
ORDER BY 
	orders_count

Разбейте пользователей из таблицы users на 4 возрастные группы:
от 18 до 24 лет;
от 25 до 29 лет;
от 30 до 35 лет;
старше 36.
Посчитайте число пользователей, попавших в каждую возрастную группу. Группы назовите соответственно «18-24», «25-29», «30-35», «36+» (без кавычек).
В расчётах не учитывайте пользователей, у которых не указана дата рождения. Как и в прошлых задачах, в качестве возраста учитывайте число полных лет.
Выведите наименования групп и число пользователей в них. Колонку с наименованием групп назовите group_age, а колонку с числом пользователей — users_count.
Отсортируйте полученную таблицу по колонке с наименованием групп по возрастанию.

In [ ]:
SELECT
	CASE 
		WHEN DATE_PART('year', AGE(birth_date))::INTEGER IN (18, 19, 20, 21, 22, 23, 24) THEN '18-24'
        WHEN DATE_PART('year', AGE(birth_date))::INTEGER IN (25, 26, 27, 28, 29) THEN '25-29'
        WHEN DATE_PART('year', AGE(birth_date))::INTEGER IN (30, 31, 32, 33, 34, 35) THEN '30-35'
        ELSE '36+' 
	END AS group_age,
    COUNT(user_id) AS users_count
FROM   
	users
WHERE  
	birth_date IS NOT NULL
GROUP BY 
	group_age
ORDER BY 
	group_age

По данным из таблицы orders рассчитайте средний размер заказа по выходным и будням.
Группу с выходными днями (суббота и воскресенье) назовите «weekend», а группу с будними днями (с понедельника по пятницу) — «weekdays» (без кавычек).
В результат включите две колонки: колонку с группами назовите week_part, а колонку со средним размером заказа — avg_order_size. 
Средний размер заказа округлите до двух знаков после запятой.
Результат отсортируйте по колонке со средним размером заказа — по возрастанию.

In [ ]:
SELECT 
	CASE 
		WHEN DATE_PART('dow', creation_time) IN (6, 0) THEN 'weekend'
    	ELSE 'weekdays' 
	END AS week_part,
    ROUND(AVG(ARRAY_LENGTH(product_ids, 1)), 2) AS avg_order_size
FROM   
	orders
GROUP BY 
	week_part
ORDER BY 
	avg_order_size

Для каждого пользователя в таблице user_actions посчитайте общее количество оформленных заказов и долю отменённых заказов.
Новые колонки назовите соответственно orders_count и cancel_rate. Колонку с долей отменённых заказов округлите до двух знаков после запятой.
В результат включите только тех пользователей, которые оформили больше трёх заказов и у которых показатель cancel_rate составляет не менее 0.5.
Результат отсортируйте по возрастанию id пользователя.

In [ ]:
SELECT 
	user_id,
	ROUND(COUNT(DISTINCT order_id) FILTER (WHERE action = 'cancel_order')::DECIMAL / COUNT(DISTINCT order_id), 2) AS cancel_rate,
    COUNT(DISTINCT order_id) AS orders_count
FROM   
	user_actions
GROUP BY 
	user_id 
HAVING
	COUNT(DISTINCT order_id) > 3 
	AND ROUND(COUNT(DISTINCT order_id) FILTER (WHERE action = 'cancel_order')::DECIMAL / COUNT(DISTINCT order_id), 2) >= 0.5
ORDER BY 
	user_id

Для каждого дня недели в таблице user_actions посчитайте:
Общее количество оформленных заказов.
Общее количество отменённых заказов.
Общее количество неотменённых заказов (т.е. доставленных).
Долю неотменённых заказов в общем числе заказов (success rate).
Новые колонки назовите соответственно created_orders, canceled_orders, actual_orders и success_rate. Колонку с долей неотменённых заказов округлите до трёх знаков после запятой.
Все расчёты проводите за период с 24 августа по 6 сентября 2022 года включительно, чтобы во временной интервал попало равное количество разных дней недели.
Группы сформируйте следующим образом: выделите день недели из даты с помощью функции to_char с параметром 'Dy', также выделите порядковый номер дня недели с помощью функции DATE_PART с параметром 'isodow'. Далее сгруппируйте данные по двум полям и проведите все необходимые расчёты.
В результате должна получиться группировка по двум колонкам: с порядковым номером дней недели и их сокращёнными наименованиями.
Результат отсортируйте по возрастанию порядкового номера дня недели.

In [ ]:
SELECT 
	DATE_PART('isodow', time)::INT AS weekday_number,
    TO_CHAR(time, 'Dy') AS weekday,
    COUNT(DISTINCT order_id) FILTER (WHERE action = 'create_order') AS created_orders,
    COUNT(DISTINCT order_id) FILTER (WHERE action = 'cancel_order') AS canceled_orders,
    COUNT(DISTINCT order_id) FILTER (WHERE action = 'create_order') - COUNT(DISTINCT order_id) FILTER (WHERE action = 'cancel_order') AS actual_orders,
    ROUND((COUNT(DISTINCT order_id) FILTER (WHERE action = 'create_order') - COUNT(DISTINCT order_id) FILTER (WHERE action = 'cancel_order'))::DECIMAL / COUNT(DISTINCT order_id) FILTER (WHERE action = 'create_order'), 3) AS success_rate
FROM  
	user_actions
WHERE  
	time >= '2022-08-24'
	AND time < '2022-09-07'
GROUP BY
	weekday_number,
	weekday
ORDER BY 
	weekday_number