**Агрегация данных**

Выведите id всех уникальных пользователей из таблицы user_actions. Результат отсортируйте по возрастанию id.

In [ ]:
SELECT 
	DISTINCT user_id
FROM   
	user_actions
ORDER BY 
	user_id

Примените DISTINCT сразу к двум колонкам таблицы courier_actions и отберите уникальные пары значений courier_id и order_id.
Результат отсортируйте сначала по возрастанию id курьера, затем по возрастанию id заказа.

In [ ]:
SELECT 
	DISTINCT courier_id,
	order_id
FROM   
	courier_actions
ORDER BY 
	courier_id, 
	order_id

Посчитайте максимальную и минимальную цены товаров в таблице products. Поля назовите соответственно max_price, min_price.

In [ ]:
SELECT 
	MAX(price) AS max_price,
    MIN(price) AS min_price
FROM
    products

Посчитайте в одном запросе количество всех записей в таблице и количество только тех записей, для которых в колонке birth_date указана дата рождения.

In [ ]:
SELECT 
	COUNT(birth_date) AS dates_not_null,
    COUNT(*) AS dates
FROM   
	users

Посчитайте количество всех значений в колонке user_id в таблице user_actions, а также количество уникальных значений в этой колонке (т.е. количество уникальных пользователей сервиса).

In [ ]:
SELECT 
	COUNT(user_id) AS users,
    COUNT(DISTINCT(user_id)) AS unique_users
FROM
	user_actions

Посчитайте количество курьеров женского пола в таблице couriers. Полученный столбец с одним значением назовите couriers.

In [ ]:
SELECT 
	COUNT(DISTINCT(courier_id)) AS couriers
FROM   
	couriers
WHERE  
	sex = 'female'

Рассчитайте время, когда были совершены первая и последняя доставки заказов в таблице courier_actions.

In [ ]:
SELECT 
	MIN(time) AS first_delivery,
    MAX(time) AS last_delivery
FROM   
	courier_actions
WHERE  
	action = 'deliver_order'

Представьте, что один из пользователей сервиса сделал заказ, в который вошли одна пачка сухариков, одна пачка чипсов и один энергетический напиток. Посчитайте стоимость такого заказа.

In [ ]:
SELECT 
	SUM(price) AS order_price
FROM   
	products
WHERE  
	name IN ('сухарики', 'чипсы', 'энергетический напиток')

Посчитайте количество заказов в таблице orders с девятью и более товарами. Для этого воспользуйтесь функцией array_length, отфильтруйте данные по количеству товаров в заказе и проведите агрегацию. Полученный столбец назовите orders.

In [ ]:
SELECT 
	COUNT(*) as orders
FROM   
	orders
WHERE  
	ARRAY_LENGTH(product_ids, 1) > 8

С помощью функции AGE и агрегирующей функции рассчитайте возраст самого молодого курьера мужского пола в таблице couriers.
Возраст выразите количеством лет, месяцев и дней (как в примере выше), переведя его в тип VARCHAR.

In [ ]:
SELECT
	AGE(MAX(birth_date))::VARCHAR AS min_age
FROM   
	couriers
WHERE  
	sex = 'male'

Посчитайте стоимость заказа, в котором будут три пачки сухариков, две пачки чипсов и один энергетический напиток. Колонку с рассчитанной стоимостью заказа назовите order_price.
Для расчётов используйте таблицу products.

In [ ]:
SELECT 
	SUM(CASE
			WHEN name = 'сухарики' THEN price * 3
            WHEN name = 'чипсы' THEN price * 2
            WHEN name = 'энергетический напиток' THEN price
            ELSE 0
		END) AS order_price
FROM   
	products
WHERE  
	name IN ('сухарики', 'чипсы', 'энергетический напиток')

Рассчитайте среднюю цену товаров в таблице products, в названиях которых присутствуют слова «чай» или «кофе». Любым известным способом исключите из расчёта товары, содержащие в названии «иван-чай» или «чайный гриб».
Среднюю цену округлите до двух знаков после запятой. Столбец с полученным значением назовите avg_price.

In [ ]:
SELECT 
	ROUND(AVG(price), 2) AS avg_price
FROM   
	products
WHERE  
	(name LIKE '%чай%' OR name LIKE '%кофе%')
	AND name NOT LIKE '%иван-чай%'
   	AND name NOT LIKE '%гриб%'

Воспользуйтесь функцией AGE и рассчитайте разницу в возрасте между самым старым и самым молодым пользователями мужского пола в таблице users. 
Разницу в возрасте выразите количеством лет, месяцев и дней, переведя её в тип VARCHAR.

In [ ]:
SELECT 
	AGE(MAX(birth_date), MIN(birth_date))::VARCHAR AS age_diff
FROM   
	users
WHERE  
	sex = 'male'

Рассчитайте среднее количество товаров в заказах из таблицы orders, которые пользователи оформляли по выходным дням (суббота и воскресенье) в течение всего времени работы сервиса.
Полученное значение округлите до двух знаков после запятой. Колонку с ним назовите avg_order_size.

In [ ]:
SELECT 
	ROUND(AVG(ARRAY_LRNGTH(product_ids, 1))::NUMERIC, 2) AS avg_order_size
FROM   
	orders
WHERE  
	DATE_PART('dow', creation_time) IN (0, 6)

На основе данных в таблице user_actions посчитайте количество уникальных пользователей сервиса, количество уникальных заказов, поделите одно на другое и выясните, сколько заказов приходится на одного пользователя.
В результирующей таблице отразите все три значения — поля назовите соответственно unique_users, unique_orders, orders_per_user.
Показатель числа заказов на пользователя округлите до двух знаков после запятой.

In [ ]:
SELECT 
	COUNT(DISTINCT(user_id)) AS unique_users,
    COUNT(DISTINCT(order_id)) AS unique_orders,
    ROUND(COUNT(DISTINCT(order_id))::DECIMAL / COUNT(DISTINCT(user_id)), 2) AS orders_per_user
FROM   
	user_actions

Посчитайте, сколько пользователей никогда не отменяли свой заказ. Для этого из общего числа всех уникальных пользователей отнимите число уникальных пользователей, которые хотя бы раз отменяли заказ. Подумайте, какое условие необходимо указать в FILTER, чтобы получить корректный результат.
Полученный столбец назовите users_count.

In [ ]:
SELECT 
	COUNT(DISTINCT(user_id)) - COUNT(DISTINCT(user_id)) FILTER (WHERE action = 'cancel_order') AS users_count
FROM   
	user_actions

Посчитайте общее количество заказов в таблице orders, количество заказов с пятью и более товарами и найдите долю заказов с пятью и более товарами в общем количестве заказов.
В результирующей таблице отразите все три значения — поля назовите соответственно orders, large_orders, large_orders_share.
Долю заказов с пятью и более товарами в общем количестве товаров округлите до двух знаков после запятой.

In [ ]:
SELECT COUNT(order_id) AS orders,
       COUNT(order_id) FILTER (WHERE ARRAY_LENGTH(product_ids, 1) > 4) AS large_orders,
       ROUND((COUNT(order_id) FILTER (WHERE ARRAY_LENGTH(product_ids, 1) > 4))::DECIMAL / COUNT(order_id), 2) AS large_orders_share
FROM   
	orders