In [2]:
import pandas as pd
from PIL import Image
import matplotlib.pyplot as plt

Дашборд 
https://redash.public.karpov.courses/dashboards/6931-marketing-metrics?fullscreen

![Image](./charts/32.png)

Вычисление метрики CAC (Customer Acquisition Cost) - затраты на привлечение одного покупателя.
На основе таблицы user_actions рассчитайте метрику CAC для двух рекламных кампаний.

In [ ]:
WITH
campaign_users AS (
    SELECT
        user_id,
        order_id,
        CASE
            WHEN user_id IN (8631, 8632, 8638, 8643, 8657, 8673, 8706, 8707, 8715, 8723, 8732, 8739, 8741, 8750, 8751, 8752, 8770, 8774, 8788, 8791, 8804, 8810, 8815, 8828, 8830, 8845, 8853, 8859, 8867, 8869, 8876, 8879, 8883, 8896, 8909, 8911, 8933, 8940, 8972, 8976, 8988, 8990, 9002, 9004, 9009, 9019, 9020, 9035, 9036, 9061, 9069, 9071, 9075, 9081, 9085, 9089, 9108, 9113, 9144, 9145, 9146, 9162, 9165, 9167, 9175, 9180, 9182, 9197, 9198, 9210, 9223, 9251, 9257, 9278, 9287, 9291, 9313, 9317, 9321, 9334, 9351, 9391, 9398, 9414, 9420, 9422, 9431, 9450, 9451, 9454, 9472, 9476, 9478, 9491, 9494, 9505, 9512, 9518, 9524, 9526, 9528, 9531, 9535, 9550, 9559, 9561, 9562, 9599, 9603, 9605, 9611, 9612, 9615, 9625, 9633, 9652, 9654, 9655, 9660, 9662, 9667, 9677, 9679, 9689, 9695, 9720, 9726, 9739, 9740, 9762, 9778, 9786, 9794, 9804, 9810, 9813, 9818, 9828, 9831, 9836, 9838, 9845, 9871, 9887, 9891, 9896, 9897, 9916, 9945, 9960, 9963, 9965, 9968, 9971, 9993, 9998, 9999, 10001, 10013, 10016, 10023, 10030, 10051, 10057, 10064, 10082, 10103, 10105, 10122, 10134, 10135) THEN 1
            WHEN user_id IN (8629, 8630, 8644, 8646, 8650, 8655, 8659, 8660, 8663, 8665, 8670, 8675, 8680, 8681, 8682, 8683, 8694, 8697, 8700, 8704, 8712, 8713, 8719, 8729, 8733, 8742, 8748, 8754, 8771, 8794, 8795, 8798, 8803, 8805, 8806, 8812, 8814, 8825, 8827, 8838, 8849, 8851, 8854, 8855, 8870, 8878, 8882, 8886, 8890, 8893, 8900, 8902, 8913, 8916, 8923, 8929, 8935, 8942, 8943, 8949, 8953, 8955, 8966, 8968, 8971, 8973, 8980, 8995, 8999, 9000, 9007, 9013, 9041, 9042, 9047, 9064, 9068, 9077, 9082, 9083, 9095, 9103, 9109, 9117, 9123, 9127, 9131, 9137, 9140, 9149, 9161, 9179, 9181, 9183, 9185, 9190, 9196, 9203, 9207, 9226, 9227, 9229, 9230, 9231, 9250, 9255, 9259, 9267, 9273, 9281, 9282, 9289, 9292, 9303, 9310, 9312, 9315, 9327, 9333, 9335, 9337, 9343, 9356, 9368, 9370, 9383, 9392, 9404, 9410, 9421, 9428, 9432, 9437, 9468, 9479, 9483, 9485, 9492, 9495, 9497, 9498, 9500, 9510, 9527, 9529, 9530, 9538, 9539, 9545, 9557, 9558, 9560, 9564, 9567, 9570, 9591, 9596, 9598, 9616, 9631, 9634, 9635, 9636, 9658, 9666, 9672, 9684, 9692, 9700, 9704, 9706, 9711, 9719, 9727, 9735, 9741, 9744, 9749, 9752, 9753, 9755, 9757, 9764, 9783, 9784, 9788, 9790, 9808, 9820, 9839, 9841, 9843, 9853, 9855, 9859, 9863, 9877, 9879, 9880, 9882, 9883, 9885, 9901, 9904, 9908, 9910, 9912, 9920, 9929, 9930, 9935, 9939, 9958, 9959, 9961, 9983, 10027, 10033, 10038, 10045, 10047, 10048, 10058, 10059, 10067, 10069, 10073, 10075, 10078, 10079, 10081, 10092, 10106, 10110, 10113, 10131) THEN 2
            ELSE 0
        END AS ads_campaign,
        COUNT(action) FILTER (WHERE action = 'cancel_order') OVER (PARTITION BY order_id) AS is_canceled
    FROM
        user_actions
)
SELECT
    CONCAT('Кампания № ',ads_campaign) AS ads_campaign,
    ROUND(250000.0 / COUNT(DISTINCT(user_id)), 2) AS cac
FROM
    campaign_users    
WHERE 
    ads_campaign IN (1, 2) 
    AND is_canceled = 0
GROUP BY
    ads_campaign
ORDER BY
    cac DESC

In [2]:
file_path1 = ('data/7.csv')
df1 = pd.read_csv(file_path1)
print(df1)

   ads_campaign      cac
0  Кампания № 1  1461.99
1  Кампания № 2  1068.38

Анализ CAC.
![Image](./charts/24.png)

У второй рекламной кампании затраты на привлечение одного покупателя оказались ниже.

ROI (Retern on Investment) - показатель возврата на инвестиции, которая помогает оценить эффективность вложенных средств.
Рассчитайте ROI для каждого рекламного канала.

In [ ]:
WITH
campaign_users AS (
    SELECT
        time::date AS date,
        user_id,
        order_id,
        CASE
            WHEN user_id IN (8631, 8632, 8638, 8643, 8657, 8673, 8706, 8707, 8715, 8723, 8732, 8739, 8741, 8750, 8751, 8752, 8770, 8774, 8788, 8791, 8804, 8810, 8815, 8828, 8830, 8845, 8853, 8859, 8867, 8869, 8876, 8879, 8883, 8896, 8909, 8911, 8933, 8940, 8972, 8976, 8988, 8990, 9002, 9004, 9009, 9019, 9020, 9035, 9036, 9061, 9069, 9071, 9075, 9081, 9085, 9089, 9108, 9113, 9144, 9145, 9146, 9162, 9165, 9167, 9175, 9180, 9182, 9197, 9198, 9210, 9223, 9251, 9257, 9278, 9287, 9291, 9313, 9317, 9321, 9334, 9351, 9391, 9398, 9414, 9420, 9422, 9431, 9450, 9451, 9454, 9472, 
                                9476, 9478, 9491, 9494, 9505, 9512, 9518, 9524, 9526, 9528, 9531, 9535, 9550, 9559, 9561, 9562, 9599, 9603, 9605, 9611, 9612, 9615, 9625, 9633, 9652, 9654, 9655, 9660, 9662, 9667, 9677, 9679, 9689, 9695, 9720, 9726, 9739, 9740, 9762, 9778, 9786, 9794, 9804, 9810, 9813, 9818, 9828, 9831, 9836, 9838, 9845, 9871, 9887, 9891, 9896, 9897, 9916, 9945, 9960, 9963, 9965, 9968, 9971, 9993, 9998, 9999, 10001, 10013, 10016, 10023, 10030, 10051, 10057, 10064, 10082, 10103, 
                                10105, 10122, 10134, 10135) 
            THEN 1
            WHEN user_id IN (8629, 8630, 8644, 8646, 8650, 8655, 8659, 8660, 8663, 8665, 8670, 8675, 8680, 8681, 8682, 8683, 8694, 8697, 8700, 8704, 8712, 8713, 8719, 8729, 8733, 8742, 8748, 8754, 8771, 8794, 8795, 8798, 8803, 8805, 8806, 8812, 8814, 8825, 8827, 8838, 8849, 8851, 8854, 8855, 8870, 8878, 8882, 8886, 8890, 8893, 8900, 8902, 8913, 8916, 8923, 8929, 
                                8935, 8942, 8943, 8949, 8953, 8955, 8966, 8968, 8971, 8973, 8980, 8995, 8999, 9000, 9007, 9013, 9041, 9042, 9047, 9064, 9068, 9077, 9082, 9083, 9095, 9103, 9109, 9117, 9123, 9127, 9131, 9137, 9140, 9149, 9161, 9179, 9181, 9183, 9185, 9190, 9196, 9203, 9207, 9226, 9227, 9229, 9230, 9231, 9250, 9255, 9259, 9267, 9273, 9281, 9282, 9289, 9292, 9303, 9310, 9312, 9315, 9327, 9333, 9335, 9337, 9343, 9356, 9368, 9370, 9383, 9392, 9404, 9410, 9421, 9428, 9432, 9437, 9468, 9479, 9483, 9485, 9492, 9495, 9497, 9498, 9500, 9510, 9527, 9529, 9530, 9538, 9539, 9545, 9557, 9558, 9560, 9564, 9567, 9570, 9591, 9596, 9598, 9616, 9631, 9634, 9635, 9636, 9658, 9666, 9672, 9684, 9692, 9700, 9704, 9706, 9711, 9719, 9727, 9735, 9741, 9744, 9749, 9752, 9753, 9755, 9757, 9764, 9783, 9784, 9788, 9790, 9808, 9820, 9839, 9841, 9843, 9853, 9855, 9859, 9863, 9877, 9879, 9880, 9882, 9883, 9885, 9901, 9904, 9908, 9910, 9912, 9920, 9929, 9930, 
                                9935, 9939, 9958, 9959, 9961, 9983, 10027, 10033, 10038, 10045, 10047, 10048, 10058, 10059, 10067, 10069, 10073, 10075, 10078, 10079, 10081, 10092, 10106, 10110, 10113, 10131)
            THEN 2
            ELSE 0
        END AS ads_campaign,
        COUNT(action) FILTER (WHERE action = 'cancel_order') OVER (PARTITION BY order_id) AS is_canceled
    FROM
        user_actions
),
order_products AS (
    SELECT
        order_id,
        UNNEST(product_ids) AS product_id
    FROM
        orders
), 
order_prices AS (
    SELECT
        a.order_id,
        SUM(b.price) AS revenue
    FROM
        order_products AS a
        JOIN products AS b
        ON a.product_id = b.product_id
    GROUP BY
        a.order_id
),
campaign_revenue AS (
    SELECT    
        t1.ads_campaign,
        SUM(t2.revenue) AS total_revenue
    FROM
        campaign_users AS t1
        LEFT JOIN order_prices AS t2
        ON t1.order_id = t2.order_id
    WHERE 
        t1.ads_campaign IN (1, 2)
        AND t1.is_canceled = 0
    GROUP BY
        t1.ads_campaign
)
SELECT
    CONCAT('Кампания № ', ads_campaign) AS ads_campaign,
    ROUND((total_revenue - 250000) / 250000 * 100, 2) AS ROI
FROM 
    campaign_revenue
ORDER BY 
    roi desc

In [3]:
file_path2 = ('data/8.csv')
df2 = pd.read_csv(file_path2)
print(df2)

   ads_campaign    roi
0  Кампания № 1  14.50
1  Кампания № 2  -1.61

Анализ ROI.
![Image](./charts/25.png)

В канал продвижения первой рекламной компании имеет смысл вкладывать больше бюджета.

Для каждой рекламной кампании посчитайте среднюю стоимость заказа привлечённых пользователей за первую неделю использования приложения с 1 по 7 сентября 2022 года.

In [ ]:
WITH
campaign_users AS (
    SELECT
        time::date AS date,
        user_id,
        order_id,
        CASE
            WHEN user_id IN (8631, 8632, 8638, 8643, 8657, 8673, 8706, 8707, 8715, 8723, 8732, 8739, 8741, 8750, 8751, 8752, 8770, 8774, 8788, 8791, 8804, 8810, 8815, 8828, 8830, 8845, 8853, 8859, 8867, 8869, 8876, 8879, 8883, 8896, 8909, 8911, 8933, 8940, 8972, 8976, 8988, 8990, 9002, 9004, 9009, 9019, 9020, 9035, 9036, 9061, 9069, 9071, 9075, 9081, 9085, 9089, 9108, 9113, 9144, 9145, 9146, 9162, 9165, 9167, 9175, 9180, 9182, 9197, 9198, 9210, 9223, 9251, 9257, 9278, 9287, 9291, 9313, 9317, 9321, 9334, 9351, 9391, 9398, 9414, 9420, 9422, 9431, 9450, 9451, 9454, 9472, 
                                9476, 9478, 9491, 9494, 9505, 9512, 9518, 9524, 9526, 9528, 9531, 9535, 9550, 9559, 9561, 9562, 9599, 9603, 9605, 9611, 9612, 9615, 9625, 9633, 9652, 9654, 9655, 9660, 9662, 9667, 9677, 9679, 9689, 9695, 9720, 9726, 9739, 9740, 9762, 9778, 9786, 9794, 9804, 9810, 9813, 9818, 9828, 9831, 9836, 9838, 9845, 9871, 9887, 9891, 9896, 9897, 9916, 9945, 9960, 9963, 9965, 9968, 9971, 9993, 9998, 9999, 10001, 10013, 10016, 10023, 10030, 10051, 10057, 10064, 10082, 10103, 
                                10105, 10122, 10134, 10135) 
            THEN 1
            WHEN user_id IN (8629, 8630, 8644, 8646, 8650, 8655, 8659, 8660, 8663, 8665, 8670, 8675, 8680, 8681, 8682, 8683, 8694, 8697, 8700, 8704, 8712, 8713, 8719, 8729, 8733, 8742, 8748, 8754, 8771, 8794, 8795, 8798, 8803, 8805, 8806, 8812, 8814, 8825, 8827, 8838, 8849, 8851, 8854, 8855, 8870, 8878, 8882, 8886, 8890, 8893, 8900, 8902, 8913, 8916, 8923, 8929, 
                                8935, 8942, 8943, 8949, 8953, 8955, 8966, 8968, 8971, 8973, 8980, 8995, 8999, 9000, 9007, 9013, 9041, 9042, 9047, 9064, 9068, 9077, 9082, 9083, 9095, 9103, 9109, 9117, 9123, 9127, 9131, 9137, 9140, 9149, 9161, 9179, 9181, 9183, 9185, 9190, 9196, 9203, 9207, 9226, 9227, 9229, 9230, 9231, 9250, 9255, 9259, 9267, 9273, 9281, 9282, 9289, 9292, 9303, 9310, 9312, 9315, 9327, 9333, 9335, 9337, 9343, 9356, 9368, 9370, 9383, 9392, 9404, 9410, 9421, 9428, 9432, 9437, 9468, 9479, 9483, 9485, 9492, 9495, 9497, 9498, 9500, 9510, 9527, 9529, 9530, 9538, 9539, 9545, 9557, 9558, 9560, 9564, 9567, 9570, 9591, 9596, 9598, 9616, 9631, 9634, 9635, 9636, 9658, 9666, 9672, 9684, 9692, 9700, 9704, 9706, 9711, 9719, 9727, 9735, 9741, 9744, 9749, 9752, 9753, 9755, 9757, 9764, 9783, 9784, 9788, 9790, 9808, 9820, 9839, 9841, 9843, 9853, 9855, 9859, 9863, 9877, 9879, 9880, 9882, 9883, 9885, 9901, 9904, 9908, 9910, 9912, 9920, 9929, 9930, 
                                9935, 9939, 9958, 9959, 9961, 9983, 10027, 10033, 10038, 10045, 10047, 10048, 10058, 10059, 10067, 10069, 10073, 10075, 10078, 10079, 10081, 10092, 10106, 10110, 10113, 10131)
            THEN 2
            ELSE 0
        END AS ads_campaign,
        COUNT(action) FILTER (WHERE action = 'cancel_order') OVER (PARTITION BY order_id) AS is_canceled
    FROM
        user_actions
    WHERE
        time::date BETWEEN '2022-09-01' AND '2022-09-07 23:59:59'
),
order_products AS (
    SELECT
        order_id,
        UNNEST(product_ids) AS product_id
    FROM
        orders
), 
order_prices AS (
    SELECT
        a.order_id AS order_id,
        SUM(b.price) AS revenue
    FROM
        order_products AS a
        LEFT JOIN products AS b
        ON a.product_id = b.product_id
    GROUP BY
        a.order_id
),
user_avg_orders AS (
    SELECT    
       a1.user_id,
       a1.ads_campaign,
       a1.is_canceled,
       AVG(a2.revenue) AS avg_order_price
    FROM
        campaign_users AS a1
        LEFT JOIN order_prices AS a2
        ON a1.order_id = a2.order_id
    GROUP BY
        a1.user_id, a1.ads_campaign, a1.is_canceled
)
SELECT
    CONCAT('Кампания № ', ads_campaign) AS ads_campaign,
    ROUND(AVG(avg_order_price), 2) AS avg_check
FROM 
    user_avg_orders
WHERE 
    ads_campaign IN (1, 2) 
    AND is_canceled = 0
GROUP BY
    ads_campaign
ORDER BY 
    avg_check DESC

In [3]:
file_path3 = ('data/9.csv')
df3 = pd.read_csv(file_path3)
print(df3)

   ads_campaign  avg_check
0  Кампания № 2     380.88
1  Кампания № 1     371.73

![Image](./charts/26.png)

Можно сказать, что различия по среднему чеку несущнмтвенные. Что особенно интересно - средней чек немного выше во второй группе с отрицательным ROI

Вычисление Retention Rate.

In [ ]:
WITH
t1 AS (
    SELECT
        user_id,
        MIN(time::date) OVER (PARTITION BY user_id) AS start_date,
        time::date AS dt
    FROM
        user_actions
)
SELECT 
    dt, 
    COUNT(DISTINCT(user_id)) AS active_users,
    COUNT(DISTINCT(user_id))::decimal / MAX(COUNT(DISTINCT(user_id))) OVER (PARTITION BY start_date) AS percentage_of_users,
    start_date,
    DATE_TRUNC('month', start_date) AS start_month, 
    DATE_TRUNC('month', dt) AS month,
    dt - start_date AS dt_n
FROM
    t1
GROUP BY
    dt, 
    start_date
ORDER BY
    dt,
    start_date

![Image](./charts/27.png)

На основе данных в таблице user_actions рассчитайте показатель дневного Retention для всех пользователей, разбив их на когорты по дате первого взаимодействия с нашим приложением.

In [ ]:
WITH
t1 AS (
    SELECT
        user_id,
        MIN(time::date) OVER (PARTITION BY user_id) AS start_date,
        time::date AS date
    FROM
        user_actions
)
SELECT
    DATE_TRUNC('month', start_date)::date AS start_month, 
    start_date,
    date - start_date AS day_number,
    ROUND(COUNT(DISTINCT(user_id))::decimal / MAX(COUNT(DISTINCT(user_id))) OVER (PARTITION BY start_date),2) AS retention
FROM
    t1
GROUP BY
    date, 
    start_date
ORDER BY
    start_date,
    day_number

![Image](./charts/28.png)

Для каждой рекламной кампании посчитайте Retention 1-го и 7-го дня у привлечённых пользователей.

In [ ]:
WITH
user_start_dates AS (
    SELECT
        user_id,
        MIN(time::date) OVER (PARTITION BY user_id) AS start_date,
        time::date AS date
    FROM user_actions
),
campaign_users AS (
    SELECT
        user_id,
        CASE
            WHEN user_id IN (8631, 8632, 8638, 8643, 8657, 8673, 8706, 8707, 8715, 8723, 8732, 8739, 8741, 8750, 8751, 8752, 8770, 8774, 8788, 8791, 8804, 8810, 8815, 8828, 8830, 8845, 8853, 8859, 8867, 8869, 8876, 8879, 8883, 8896, 8909, 8911, 8933, 8940, 8972, 8976, 8988, 8990, 9002, 9004, 9009, 9019, 9020, 9035, 9036, 9061, 9069, 9071, 9075, 9081, 9085, 9089, 9108, 9113, 9144, 9145, 9146, 9162, 9165, 9167, 9175, 9180, 9182, 9197, 9198, 9210, 9223, 9251, 9257, 9278, 9287, 9291, 9313, 9317, 9321, 9334, 9351, 9391, 9398, 9414, 9420, 9422, 9431, 9450, 9451, 9454, 9472, 
                                9476, 9478, 9491, 9494, 9505, 9512, 9518, 9524, 9526, 9528, 9531, 9535, 9550, 9559, 9561, 9562, 9599, 9603, 9605, 9611, 9612, 9615, 9625, 9633, 9652, 9654, 9655, 9660, 9662, 9667, 9677, 9679, 9689, 9695, 9720, 9726, 9739, 9740, 9762, 9778, 9786, 9794, 9804, 9810, 9813, 9818, 9828, 9831, 9836, 9838, 9845, 9871, 9887, 9891, 9896, 9897, 9916, 9945, 9960, 9963, 9965, 9968, 9971, 9993, 9998, 9999, 10001, 10013, 10016, 10023, 10030, 10051, 10057, 10064, 10082, 10103, 
                                10105, 10122, 10134, 10135) 
            THEN 1
            WHEN user_id IN (8629, 8630, 8644, 8646, 8650, 8655, 8659, 8660, 8663, 8665, 8670, 8675, 8680, 8681, 8682, 8683, 8694, 8697, 8700, 8704, 8712, 8713, 8719, 8729, 8733, 8742, 8748, 8754, 8771, 8794, 8795, 8798, 8803, 8805, 8806, 8812, 8814, 8825, 8827, 8838, 8849, 8851, 8854, 8855, 8870, 8878, 8882, 8886, 8890, 8893, 8900, 8902, 8913, 8916, 8923, 8929, 
                                8935, 8942, 8943, 8949, 8953, 8955, 8966, 8968, 8971, 8973, 8980, 8995, 8999, 9000, 9007, 9013, 9041, 9042, 9047, 9064, 9068, 9077, 9082, 9083, 9095, 9103, 9109, 9117, 9123, 9127, 9131, 9137, 9140, 9149, 9161, 9179, 9181, 9183, 9185, 9190, 9196, 9203, 9207, 9226, 9227, 9229, 9230, 9231, 9250, 9255, 9259, 9267, 9273, 9281, 9282, 9289, 9292, 9303, 9310, 9312, 9315, 9327, 9333, 9335, 9337, 9343, 9356, 9368, 9370, 9383, 9392, 9404, 9410, 9421, 9428, 9432, 9437, 9468, 9479, 9483, 9485, 9492, 9495, 9497, 9498, 9500, 9510, 9527, 9529, 9530, 9538, 9539, 9545, 9557, 9558, 9560, 9564, 9567, 9570, 9591, 9596, 9598, 9616, 9631, 9634, 9635, 9636, 9658, 9666, 9672, 9684, 9692, 9700, 9704, 9706, 9711, 9719, 9727, 9735, 9741, 9744, 9749, 9752, 9753, 9755, 9757, 9764, 9783, 9784, 9788, 9790, 9808, 9820, 9839, 9841, 9843, 9853, 9855, 9859, 9863, 9877, 9879, 9880, 9882, 9883, 9885, 9901, 9904, 9908, 9910, 9912, 9920, 9929, 9930, 
                                9935, 9939, 9958, 9959, 9961, 9983, 10027, 10033, 10038, 10045, 10047, 10048, 10058, 10059, 10067, 10069, 10073, 10075, 10078, 10079, 10081, 10092, 10106, 10110, 10113, 10131)
            THEN 2
            ELSE 0
        END AS ads_campaign
    FROM
        user_actions
),
t1 AS (
    SELECT
        a.user_id,
        CONCAT('Кампания № ', b.ads_campaign) AS ads_campaign,
        a.start_date,
        a.date,
        a.date - a.start_date AS day_number
    FROM
        user_start_dates AS a
        LEFT JOIN campaign_users AS b
        ON a.user_id = b.user_id
    WHERE
        b.ads_campaign IN (1, 2)
        AND a.start_date = '2022-09-01'
) 
SELECT
    ads_campaign,
    start_date,
    day_number,
    ROUND(COUNT(DISTINCT(user_id))::decimal / MAX(COUNT(DISTINCT(user_id))) OVER(PARTITION BY ads_campaign, start_date), 2) AS retention
    
FROM
    t1
WHERE
    day_number IN (0, 1, 7)
GROUP BY
    ads_campaign,
    start_date,
    date,
    day_number
ORDER BY
    ads_campaign,
    day_number

In [4]:
file_path4 = ('data/10.csv')
df4 = pd.read_csv(file_path4)
print(df4)

   ads_campaign start_date  day_number  retention
0  Кампания № 1   01/09/22           0       1.00
1  Кампания № 1   01/09/22           1       0.42
2  Кампания № 1   01/09/22           7       0.22
3  Кампания № 2   01/09/22           0       1.00
4  Кампания № 2   01/09/22           1       0.17
5  Кампания № 2   01/09/22           7       0.09

![Image](./charts/29.png)

Пользователи из обоих рекламных каналов практически не различаются по среднему чеку, но Retention почти в дав раза выше у первой группы. Это и приводит к тому, что пользователи из первой группы приносят нам больше денег.

Для каждой рекламной кампании для каждого дня посчитайте две метрики:
1. Накопительный ARPPU.
2. Затраты на привлечение одного покупателя (CAC).

In [ ]:
WITH user_actions_campaigns AS (
    SELECT 
        user_id,
        order_id,
        time,
        action,
        CASE
            WHEN user_id IN (8631, 8632, 8638, 8643, 8657, 8673, 8706, 8707, 8715, 8723, 8732, 8739, 8741, 8750, 8751, 8752, 8770, 8774, 8788, 8791, 8804, 8810, 8815, 8828, 8830, 8845, 8853, 8859, 8867, 8869, 8876, 8879, 8883, 8896, 8909, 8911, 8933, 8940, 8972, 
                            8976, 8988, 8990, 9002, 9004, 9009, 9019, 9020, 9035, 9036, 9061, 9069, 9071, 9075, 9081, 9085, 9089, 9108, 9113, 9144, 9145, 9146, 9162, 9165, 9167, 9175, 9180, 9182, 9197, 9198, 9210, 9223, 9251, 9257, 9278, 9287, 9291, 9313, 9317, 
                            9321, 9334, 9351, 9391, 9398, 9414, 9420, 9422, 9431, 9450, 9451, 9454, 9472, 9476, 9478, 9491, 9494, 9505, 9512, 9518, 9524, 9526, 9528, 9531, 9535, 9550, 9559, 9561, 9562, 9599, 9603, 9605, 9611, 9612, 9615, 9625, 9633, 9652, 9654, 
                            9655, 9660, 9662, 9667, 9677, 9679, 9689, 9695, 9720, 9726, 9739, 9740, 9762, 9778, 9786, 9794, 9804, 9810, 9813, 9818, 9828, 9831, 9836, 9838, 9845, 9871, 9887, 9891, 9896, 9897, 9916, 9945, 9960, 9963, 9965, 9968, 9971, 9993, 9998, 
                            9999, 10001, 10013, 10016, 10023, 10030, 10051, 10057, 10064, 10082, 10103, 10105, 10122, 10134, 10135) THEN 1
            WHEN user_id IN (8629, 8630, 8644, 8646, 8650, 8655, 8659, 8660, 8663, 8665, 8670, 8675, 8680, 8681, 8682, 8683, 8694, 8697, 8700, 8704, 8712, 8713, 8719, 8729, 8733, 8742, 8748, 8754, 
                            8771, 8794, 8795, 8798, 8803, 8805, 8806, 8812, 8814, 8825, 8827, 8838, 8849, 8851, 8854, 8855, 8870, 8878, 8882, 8886, 8890, 8893, 8900, 8902, 8913, 8916, 8923, 8929, 8935, 8942, 8943, 8949, 8953, 8955, 8966, 8968, 8971, 8973, 8980, 8995, 8999, 9000, 
                            9007, 9013, 9041, 9042, 9047, 9064, 9068, 9077, 9082, 9083, 9095, 9103, 9109, 9117, 9123, 9127, 9131, 9137, 9140, 9149, 9161, 9179, 9181, 9183, 9185, 9190, 9196, 9203, 9207, 9226, 9227, 9229, 9230, 9231, 9250, 9255, 9259, 9267, 9273, 9281, 9282, 9289, 
                            9292, 9303, 9310, 9312, 9315, 9327, 9333, 9335, 9337, 9343, 9356, 9368, 9370, 9383, 9392, 9404, 9410, 9421, 9428, 9432, 9437, 9468, 9479, 9483, 9485, 9492, 9495, 9497, 9498, 9500, 9510, 9527, 9529, 9530, 9538, 9539, 9545, 9557, 9558, 9560, 9564, 9567, 
                            9570, 9591, 9596, 9598, 9616, 9631, 9634, 9635, 9636, 9658, 9666, 9672, 9684, 9692, 9700, 9704, 9706, 9711, 9719, 9727, 9735, 9741, 9744, 9749, 9752, 9753, 9755, 9757, 9764, 9783, 9784, 9788, 9790, 9808, 9820, 9839, 9841, 9843, 9853, 9855, 9859, 9863, 
                            9877, 9879, 9880, 9882, 9883, 9885, 9901, 9904, 9908, 9910, 9912, 9920, 9929, 9930, 9935, 9939, 9958, 9959, 9961, 9983, 10027, 10033, 10038, 10045, 10047, 10048, 10058, 10059, 10067, 10069, 10073, 10075, 10078, 10079, 10081, 10092, 10106, 10110, 10113, 10131) THEN 2
            ELSE 0 
        END AS ads_campaign,
        COUNT(action) FILTER (WHERE action = 'cancel_order') OVER (PARTITION BY order_id) AS is_canceled
    FROM user_actions
),
orders_products AS (
    SELECT
        order_id,
        UNNEST(product_ids) AS product_id
    FROM
        orders
),
main_table AS (
    SELECT
        a.ads_campaign,
        a.user_id,
        a.order_id,
        a.time,
        b.product_id,
        c.price
    FROM
        user_actions_campaigns AS a
        JOIN orders_products AS b
        ON a.order_id = b.order_id
        JOIN products AS c
        ON b.product_id = c.product_id
    WHERE 
        a.ads_campaign IN (1, 2) 
        AND a.is_canceled = 0
),
daily_revenue AS (
    SELECT 
        ads_campaign,
        time::date AS date,
        SUM(price) AS revenue
    FROM
        main_table
    GROUP BY
        ads_campaign,
        time::date
),
campaign_stats AS (
    SELECT
        ads_campaign,
        COUNT(DISTINCT(user_id)) AS paying_users,
        ROUND(250000.0 / COUNT(DISTINCT(user_id)), 2) AS cac
    FROM
        main_table
    GROUP BY
        ads_campaign
)
SELECT
    CONCAT('Кампания № ', ads_campaign) AS ads_campaign,
    CONCAT('Day ', ROW_NUMBER() OVER (PARTITION BY ads_campaign ORDER BY date) - 1) AS day,
    ROUND(SUM(revenue) OVER (PARTITION BY ads_campaign ORDER BY date) / paying_users::decimal, 2) AS cumulative_arppu,
    cac
FROM 
    daily_revenue
JOIN 
    campaign_stats USING (ads_campaign)

In [5]:
file_path5 = ('data/11.csv')
df5 = pd.read_csv(file_path5)
print(df5)

    ads_campaign    day  cumulative_arppu      cac
0   Кампания № 1  Day 0            521.36  1461.99
1   Кампания № 1  Day 1            784.64  1461.99
2   Кампания № 1  Day 2           1010.70  1461.99
3   Кампания № 1  Day 3           1227.84  1461.99
4   Кампания № 1  Day 4           1375.46  1461.99
5   Кампания № 1  Day 5           1464.25  1461.99
6   Кампания № 1  Day 6           1575.26  1461.99
7   Кампания № 1  Day 7           1674.02  1461.99
8   Кампания № 2  Day 0            548.42  1068.38
9   Кампания № 2  Day 1            656.20  1068.38
10  Кампания № 2  Day 2            765.34  1068.38
11  Кампания № 2  Day 3            829.88  1068.38
12  Кампания № 2  Day 4            888.80  1068.38
13  Кампания № 2  Day 5            938.66  1068.38
14  Кампания № 2  Day 6            999.46  1068.38
15  Кампания № 2  Day 7           1051.21  1068.38

График для первой рекламной компании.
![Image](./charts/30.png)

График для второй рекламной компании.
![Image](./charts/31.png)

Для первой рекламной компании накопительный ARPPU превысил затраты на привлечение одного покупателя (CAC) уже на 5-й день, тогда как для второй компании даже на 7-й день значение CAC всё ещё превышало значение ARPPU.