** JOIN **

Объедините таблицы user_actions и users по ключу user_id. В результат включите две колонки с user_id из обеих таблиц. Эти две колонки назовите соответственно user_id_left и user_id_right. Также в результат включите колонки order_id, time, action, sex, birth_date. Отсортируйте получившуюся таблицу по возрастанию id пользователя (в любой из двух колонок с id).

In [ ]:
SELECT 
    A.user_id AS user_id_left,
    B.user_id AS user_id_right,
    order_id, 
    time,
    action,
    sex,
    birth_date
FROM 
    user_actions AS A
    JOIN users AS B
    ON A.user_id = B.user_id
ORDER BY  
    user_id_left

А теперь попробуйте немного переписать запрос из прошлого задания и посчитать количество уникальных id в объединённой таблице. То есть снова объедините таблицы, но в этот раз просто посчитайте уникальные user_id в одной из колонок с id. Выведите это количество в качестве результата. Колонку с посчитанным значением назовите users_count.

In [ ]:
SELECT 
    COUNT(DISTINCT(A.user_id)) AS users_count
FROM 
    user_actions AS A
    JOIN users AS B
    ON A.user_id = B.user_id

С помощью LEFT JOIN объедините таблицы user_actions и users по ключу user_id. Обратите внимание на порядок таблиц — слева users_actions, справа users. В результат включите две колонки с user_id из обеих таблиц. Эти две колонки назовите соответственно user_id_left и user_id_right. Также в результат включите колонки order_id, time, action, sex, birth_date. Отсортируйте получившуюся таблицу по возрастанию id пользователя (в колонке из левой таблицы).

In [ ]:
SELECT
    A.user_id AS user_id_left,
    B.user_id AS user_id_right,
    order_id,
    time,
    action, 
    sex,
    birth_date
FROM 
    user_actions AS A
    LEFT JOIN users AS B
    ON A.user_id = B.user_id
ORDER BY 
    user_id_left

Теперь снова попробуйте немного переписать запрос из прошлого задания и посчитайте количество уникальных id в колонке user_id, пришедшей из левой таблицы user_actions. Выведите это количество в качестве результата. Колонку с посчитанным значением назовите users_count.

In [ ]:
SELECT 
    COUNT(DISTINCT(A.user_id)) AS users_count
FROM 
    user_actions AS A
    LEFT JOIN users AS B
    ON A.user_id = B.user_id

Возьмите запрос из задания 3, где вы объединяли таблицы user_actions и users с помощью LEFT JOIN, добавьте к запросу оператор WHERE и исключите NULL значения в колонке user_id из правой таблицы. Включите в результат все те же колонки и отсортируйте получившуюся таблицу по возрастанию id пользователя в колонке из левой таблицы.

In [ ]:
SELECT
    A.user_id AS user_id_left,
    B.user_id AS user_id_right,
    order_id,
    time, 
    action,
    sex,
    birth_date
FROM
    user_actions AS A 
    LEFT JOIN users B
    ON A.user_id = B.user_id
WHERE 
    B.user_id IS NOT NULL
ORDER BY 
    user_id_left

С помощью FULL JOIN объедините по ключу birth_date таблицы, полученные в результате вышеуказанных запросов (то есть объедините друг с другом два подзапроса). Не нужно изменять их, просто добавьте нужный JOIN.

In [ ]:
WITH
users_birth AS (
    SELECT 
        birth_date, 
        COUNT(user_id) AS users_count
    FROM 
        users
    WHERE
        birth_date IS NOT NULL
    GROUP BY
        birth_date
),
couriers_birth AS (
    SELECT
        birth_date,
        COUNT(courier_id) AS couriers_count
    FROM 
        couriers
    WHERE
        birth_date IS NOT NULL
    GROUP BY
        birth_date
)
SELECT 
    A.birth_date AS users_birth_date,
    A.users_count,
    B.birth_date AS couriers_birth_date,
    B.couriers_count
FROM 
    users_birth AS A
    FULL JOIN couriers_birth B
    ON A.birth_date = B.birth_date
ORDER BY 
    users_birth_date, 
	couriers_birth_date

 Верните уникальные id пользователей, которые что-то заказывали в нашем сервисе, но которых по какой-то причине нет в таблице users

In [ ]:
SELECT 
    user_id
FROM 
    user_actions
EXCEPT
SELECT 
    user_id
FROM 
    users

Объедините два следующих запроса друг с другом так, чтобы на выходе получился набор уникальных дат из таблиц users и couriers.
Поместите в подзапрос полученный после объединения набор дат и посчитайте их количество. Колонку с числом дат назовите dates_count.

In [ ]:
WITH 
user_birth AS (
    SELECT 
        birth_date
    FROM 
        users
    WHERE
        birth_date IS NOT NULL
),
courier_birth AS (
    SELECT 
        birth_date
    FROM
        couriers
    WHERE 
        birth_date IS NOT NULL
),
combined_dates AS (
    SELECT 
        birth_date
    FROM 
        user_birth
    UNION
    SELECT 
        birth_date
    FROM
        courier_birth
)
SELECT
    COUNT(birth_date) AS dates_count
FROM combined_dates

Из таблицы users отберите id первых 100 пользователей (просто выберите первые 100 записей, используя простой LIMIT) и с помощью CROSS JOIN объедините их со всеми наименованиями товаров из таблицы products. Выведите две колонки — id пользователя и наименование товара. Результат отсортируйте сначала по возрастанию id пользователя, затем по имени товара — тоже по возрастанию.

In [ ]:
WITH
hundred_users AS (
    SELECT 
        user_id
    FROM  
        users
    LIMIT 
        100
)
SELECT 
    A.user_id AS user_id,
    B.name AS name
FROM
    hundred_users AS A 
    CROSS JOIN products AS B
ORDER BY
    user_id,
    name

Для начала объедините таблицы user_actions и orders — это вы уже умеете делать. В качестве ключа используйте поле order_id. Выведите id пользователей и заказов, а также список товаров в заказе. Отсортируйте таблицу по id пользователя по возрастанию, затем по id заказа — тоже по возрастанию.
Добавьте в запрос оператор LIMIT и выведите только первые 1000 строк результирующей таблицы.

In [ ]:
SELECT 
    A.user_id AS user_id,
    A.order_id AS order_id,
    B.product_ids AS product_ids
FROM
    user_actions AS A
    INNER JOIN orders AS B
    ON A.order_id = B.order_id
ORDER BY 
    user_id,
    order_id
LIMIT 
    1000

Снова объедините таблицы user_actions и orders, но теперь оставьте только уникальные неотменённые заказы (мы делали похожий запрос на прошлом уроке). Остальные условия задачи те же: вывести id пользователей и заказов, а также список товаров в заказе. Отсортируйте таблицу по id пользователя по возрастанию, затем по id заказа — тоже по возрастанию.
Добавьте в запрос оператор LIMIT и выведите только первые 1000 строк результирующей таблицы.

In [ ]:
WITH 
cancel_order AS (
    SELECT 
        DISTINCT(order_id)
    FROM 
        user_actions
    WHERE 
        action = 'cancel_order'
)
SELECT 
    A.user_id AS user_id,
    A.order_id AS order_id,
    B.product_ids AS product_ids
FROM
    user_actions AS A
    INNER JOIN orders AS B
    ON A.order_id = B.order_id
WHERE
    A.order_id NOT IN (SELECT order_id FROM cancel_order)
ORDER BY 
    user_id,
    order_id
LIMIT 
    1000

Используя запрос из предыдущего задания, посчитайте, сколько в среднем товаров заказывает каждый пользователь. Выведите id пользователя и среднее количество товаров в заказе. Среднее значение округлите до двух знаков после запятой. Колонку посчитанными значениями назовите avg_order_size. Результат выполнения запроса отсортируйте по возрастанию id пользователя. 
Добавьте в запрос оператор LIMIT и выведите только первые 1000 строк результирующей таблицы.

In [ ]:
WITH 
cancel_order AS (
    SELECT 
        DISTINCT(order_id)
    FROM 
        user_actions
    WHERE 
        action = 'cancel_order'
)
SELECT 
    A.user_id AS user_id,
    ROUND(AVG(ARRAY_LENGTH(B.product_ids, 1)), 2) AS avg_order_size
FROM
    user_actions AS A
    INNER JOIN orders AS B
    ON A.order_id = B.order_id
WHERE
    A.order_id NOT IN (SELECT order_id FROM cancel_order)
GROUP BY
    A.user_id
ORDER BY 
    user_id
LIMIT 
    1000

Для начала к таблице с заказами (orders) примените функцию unnest, как мы делали в прошлом уроке. Колонку с id товаров назовите product_id. Затем к образовавшейся расширенной таблице по ключу product_id добавьте информацию о ценах на товары (из таблицы products). Должна получиться таблица с заказами, товарами внутри каждого заказа и ценами на эти товары. Выведите колонки с id заказа, id товара и ценой товара. Результат отсортируйте сначала по возрастанию id заказа, затем по возрастанию id товара.
Добавьте в запрос оператор LIMIT и выведите только первые 1000 строк результирующей таблицы.

In [ ]:
WITH
product_table AS (
    SELECT 
        order_id,
        creation_time, 
        product_ids, 
        unnest(product_ids) AS product_id
    FROM 
        orders
)
SELECT
    A.product_id AS product_id,
    A.order_id AS order_id, 
    B.price AS price
FROM 
    product_table AS A
    LEFT JOIN products AS B
    ON A.product_id = B.product_id
ORDER BY
    order_id,
    product_id
LIMIT
    1000

Используя запрос из предыдущего задания, рассчитайте суммарную стоимость каждого заказа. Выведите колонки с id заказов и их стоимостью. Колонку со стоимостью заказа назовите order_price. Результат отсортируйте по возрастанию id заказа.
Добавьте в запрос оператор LIMIT и выведите только первые 1000 строк результирующей таблицы.

In [ ]:
WITH
product_table AS (
    SELECT 
        order_id,
        creation_time, 
        product_ids, 
        unnest(product_ids) AS product_id
    FROM 
        orders
)
SELECT
    A.order_id AS order_id, 
    SUM(price) AS order_price
FROM 
    product_table AS A
    LEFT JOIN products AS B
    ON A.product_id = B.product_id
GROUP BY
    order_id
ORDER BY
    order_id
LIMIT
    1000

На основе объединённой таблицы для каждого пользователя рассчитайте следующие показатели:
общее число заказов — колонку назовите orders_count
среднее количество товаров в заказе — avg_order_size
суммарную стоимость всех покупок — sum_order_value
среднюю стоимость заказа — avg_order_value
минимальную стоимость заказа — min_order_value
максимальную стоимость заказа — max_order_value
Полученный результат отсортируйте по возрастанию id пользователя.

In [ ]:
WITH
cancel_order AS (
    SELECT
        user_id,
        order_id
    FROM   
        user_actions
    WHERE
        action = 'cancel_order'
),
product_list AS (
    SELECT
        order_id,
        unnest(product_ids) AS product_id
    FROM
        orders
),
count_order AS (
    SELECT
        b.user_id AS user_id,
        a.order_id as order_id,
        array_length(product_ids, 1) as order_size
    FROM   
        orders AS a
        LEFT JOIN user_actions AS b
        ON a.order_id = b.order_id
    WHERE  
        a.order_id NOT IN (SELECT order_id FROM cancel_order)
    ORDER BY 
        user_id
),
sum_order AS (
    SELECT
        A1.order_id,
        SUM(price) AS order_price
    FROM 
        product_list AS A1
        LEFT JOIN products AS C
        ON A1.product_id = C.product_id
    GROUP BY
        order_id
    ORDER BY
        order_id
)
SELECT 
    user_id,
    COUNT(T2.order_id) AS orders_count,
    ROUND(AVG(T1.order_size), 2) AS avg_order_size,
    SUM(T2.order_price) AS sum_order_value,
    ROUND(AVG(T2.order_price), 2) AS avg_order_value,
    MIN(T2.order_price) AS min_order_value,
    MAX(T2.order_price) AS max_order_value
FROM 
    count_order AS T1
    LEFT JOIN sum_order AS T2
    ON T1.order_id = T2.order_id
GROUP BY
    user_id
ORDER BY
    user_id
LIMIT
    1000

По данным таблиц orders, products и user_actions посчитайте ежедневную выручку сервиса. Под выручкой будем понимать стоимость всех реализованных товаров, содержащихся в заказах.
Колонку с датой назовите date, а колонку со значением выручки — revenue.
В расчётах учитывайте только неотменённые заказы.
Результат отсортируйте по возрастанию даты.

In [ ]:
WITH
canceled_orders AS (
    SELECT 
        order_id, 
        time
    FROM
        user_actions
    WHERE
        action = 'cancel_order'
),
expanded_products AS (
    SELECT 
        order_id, 
        unnest(product_ids) AS product_id
    FROM
        orders
),
order_coast AS (
    SELECT 
        EP.order_id AS order_id,
        SUM(P.price) AS price
    FROM
        expanded_products AS EP
        LEFT JOIN products AS P
        ON EP.product_id = P.product_id
    GROUP BY
        order_id
)
SELECT
    DATE(UA.time) AS date,
    SUM(OC.price)::DECIMAL AS revenue
FROM
    user_actions AS UA
    LEFT JOIN order_coast AS OC
    ON UA.order_id = OC.order_id
WHERE  
    UA.order_id NOT IN (SELECT order_id FROM canceled_orders)
GROUP BY
    date
ORDER BY
    date

По таблицам courier_actions , orders и products определите 10 самых популярных товаров, доставленных в сентябре 2022 года.

In [ ]:
WITH
deliver_orders AS (
    SELECT
        order_id
    FROM
        courier_actions
    WHERE 
        action = 'deliver_order' 
        AND DATE_PART('year', time) = 2022
        AND DATE_PART('month', time) = 9
),
expanded_products AS (
    SELECT
        DISTINCT(order_id),
        unnest(product_ids) AS product_id
    FROM
        orders
)
SELECT
    P.name AS name,
    COUNT(EP.product_id) AS times_purchased
FROM
    expanded_products AS EP
    LEFT JOIN products AS P
    ON EP.product_id = P.product_id
WHERE
    EP.order_id IN (SELECT order_id FROM deliver_orders)
GROUP BY
    name
ORDER BY
    times_purchased DESC
LIMIT 10

Возьмите запрос, составленный на одном из прошлых уроков, и подтяните в него из таблицы users данные о поле пользователей таким образом, чтобы все пользователи из таблицы user_actions остались в результате. Затем посчитайте среднее значение cancel_rate для каждого пола, округлив его до трёх знаков после запятой. Колонку с посчитанным средним значением назовите avg_cancel_rate.

In [ ]:
WITH
cancels AS (
    SELECT
        user_id,
        ROUND(COUNT(DISTINCT(order_id)) FILTER (WHERE action = 'cancel_order')::DECIMAL / COUNT(DISTINCT(order_id)),3) AS cancel_rate
    FROM
        user_actions
    GROUP BY
        user_id
)
SELECT
    COALESCE(U.sex, 'unknown') AS sex,
    ROUND(AVG(C.cancel_rate), 3) AS avg_cancel_rate
FROM
    cancels AS C
    LEFT JOIN users AS U
    ON C.user_id = U.user_id
GROUP BY
    sex
ORDER BY
    sex

По таблицам orders и courier_actions определите id десяти заказов, которые доставляли дольше всего.

In [ ]:
SELECT
    O.order_id
FROM
    orders AS O
    LEFT JOIN courier_actions AS CA
    ON O.order_id = CA.order_id
WHERE
    action = 'deliver_order'
ORDER BY
    (time - creation_time) DESC
LIMIT 10

Произведите замену списков с id товаров из таблицы orders на списки с наименованиями товаров. Наименования возьмите из таблицы products. Колонку с новыми списками наименований назовите product_names. 
Добавьте в запрос оператор LIMIT и выведите только первые 1000 строк результирующей таблицы.

In [ ]:
WITH
product_list AS (
    SELECT
        order_id,
        unnest(product_ids) AS product_id
    FROM 
        orders
)
SELECT
    LP.order_id AS order_id,
    array_agg(P.name) AS product_names
FROM
    product_list AS LP
    LEFT JOIN products AS P
    ON LP.product_id = P.product_id
GROUP BY
    LP.order_id
LIMIT
    1000

Выясните, кто заказывал и доставлял самые большие заказы. Самыми большими считайте заказы с наибольшим числом товаров.

In [ ]:
WITH
max_order AS (
    SELECT
        MAX(array_length(product_ids, 1)) AS max_order
    FROM
        orders
),
lasts_time AS (
    SELECT
        MAX(time)::DATE AS last_time
    FROM 
        user_actions
),
couriers_age AS (
    SELECT 
        DISTINCT(courier_id),
        DATE_PART('year', AGE(last_time, birth_date))::VARCHAR AS age_courier
    FROM
        lasts_time,
        couriers
),
users_age AS (
    SELECT
        DISTINCT(user_id),
        DATE_PART('year', AGE(last_time, birth_date))::VARCHAR AS age_user
    FROM 
        lasts_time,
        users
),
A AS (
    SELECT 
        O.order_id AS order_id, 
        CA.courier_id AS courier_id
    FROM
        orders AS O
        LEFT JOIN courier_actions AS CA
        ON O.order_id = CA.order_id
    WHERE
        array_length(O.product_ids, 1) IN (SELECT max_order FROM max_order)
),
B AS (
    SELECT 
        A.order_id AS order_id,
        UA.user_id AS user_id,
        A.courier_id AS courier_id
    FROM
        A AS A
        LEFT JOIN user_actions AS UA
        ON A.order_id = UA.order_id
),
C AS (
    SELECT
        us.age_user AS age_user,
        B.order_id AS order_id,
        B.user_id AS user_id,
        B.courier_id AS courier_id
    FROM
        B AS B
        LEFT JOIN users_age AS us
        ON B.user_id = us.user_id
)
SELECT
    DISTINCT(C.order_id) AS order_id,
    C.user_id AS user_id,
    C.age_user AS user_age,
    C.courier_id AS courier_id,
    CA.age_courier AS courier_age
FROM
    C AS C
    LEFT JOIN couriers_age AS CA
    ON C.courier_id = CA.courier_id
ORDER BY
    order_id

Более короткий вариант

In [ ]:
WITH max_order AS (
    SELECT MAX(array_length(product_ids, 1)) AS max_order
    FROM orders
),
last_time AS (
    SELECT MAX(time) AS last_time
    FROM user_actions
),
large_orders AS (
    SELECT order_id
    FROM orders
    WHERE array_length(product_ids, 1) = (SELECT max_order FROM max_order)
),
order_users AS (
    SELECT DISTINCT order_id, user_id
    FROM user_actions
    WHERE order_id IN (SELECT order_id FROM large_orders)
),
order_couriers AS (
    SELECT DISTINCT order_id, courier_id
    FROM courier_actions
    WHERE order_id IN (SELECT order_id FROM large_orders)
)
SELECT 
    ou.order_id,
    ou.user_id,
    DATE_PART('year', AGE((SELECT last_time FROM last_time), u.birth_date))::INTEGER AS user_age,
    oc.courier_id,
    DATE_PART('year', AGE((SELECT last_time FROM last_time), c.birth_date))::INTEGER AS courier_age
FROM 
    order_users ou
LEFT JOIN 
    order_couriers oc USING (order_id)
LEFT JOIN 
    users u USING (user_id)
LEFT JOIN 
    couriers c USING (courier_id)
ORDER BY 
    order_id

Выясните, какие пары товаров покупают вместе чаще всего.

In [ ]:
WITH
cancel_order AS (
    SELECT
        DISTINCT(order_id)
    FROM
        user_actions
    WHERE 
        action = 'cancel_order'
),
orders_products  AS (
    SELECT
        order_id,
        unnest(product_ids) AS product_id
    FROM    
        orders
    WHERE
        order_id NOT IN (SELECT order_id FROM cancel_order)    
),
main_table AS (
    SELECT DISTINCT
        O.order_id,
        O.product_id,
        P.name
    FROM orders_products AS O
    LEFT JOIN products P USING (product_id)
    ORDER BY
        order_id,
        name
),
pairs AS (
    SELECT DISTINCT
        A.order_id,
        CASE
            WHEN A.name > B.name THEN string_to_array(CONCAT(B.name, '+', A.name), '+')
            ELSE string_to_array(CONCAT(A.name, '+', B.name), '+')
        END AS pair
    FROM
        main_table A
    JOIN main_table B ON A.order_id = B.order_id 
    AND A.name != B.name
)
SELECT 
    pair, 
    count(order_id) AS count_pair
FROM
    pairs
GROUP BY
    pair
ORDER BY
    count_pair DESC,
    pair